@media (max-width: 508px) {
    .popup {
        max-width: 250px;
        padding: 0;
    }

    .popup header {
        align-content: center;
        right: 0;
        width: 100%;  
        flex-wrap: wrap; 
    }

    .popup-content {
        text-align: center;
    }

    .popup-content a {
        top: 89%;
        margin-left: 5px;
    }
}

@media (max-width: 425px) {
    #btn {
        width: 95%;
    }
}
